@model HPMS.Models.COHORT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>COHORT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.PID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Full_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_of_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_Start)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COHORT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
