@model IEnumerable<HPMS.Models.COHORT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.NIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_of_Start)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.NIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_of_Start)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COHORT_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.COHORT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COHORT_ID })
        </td>
    </tr>
}

</table>
