@model HPMS.Models.Patient_Diet_Chart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient_Diet_Chart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diet_Chart.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diet_Chart.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.NIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.NIN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PDC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
