@model IEnumerable<HPMS.Models.Patient_Diet_Chart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diet_Chart.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.NIN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Diet_Chart.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.NIN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PDC }) |
            @Html.ActionLink("Details", "Details", new { id=item.PDC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PDC })
        </td>
    </tr>
}

</table>
