@model IEnumerable<HPMS.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Demographic.Given_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Next_of_Kin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Special_Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Care_Entry_Point)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Demographic.Given_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Next_of_Kin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Special_Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Care_Entry_Point)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PID })
        </td>
    </tr>
}

</table>
