@model HPMS.Models.Sexual_Partner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sexual_Partner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Demographic.Full_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demographic.Full_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.PID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Full_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIV_Care)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIV_Care)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraceptives_Used)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraceptives_Used)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SPID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
