@model IEnumerable<HPMS.Models.Family_Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Demographic.Full_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.PID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HIV_Care)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Demographic.Full_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Full_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relationship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIV_Care)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FMID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FMID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FMID })
        </td>
    </tr>
}

</table>
